.signup-form {
    width:100%;
    max-width: 350px;
    margin: 4.5rem auto 0 auto;
}

.signup-form input{
    margin-bottom: 3%;
}

.my-dashboard {
    margin-top:4.5rem;
}

.my-dashboard input{
    margin-bottom:2%;
}