{% macro signupForm(form) %}
    <form action="{{ url_for('main.user_register') }}", method="POST">
        {{ form.hidden_tag() }}
        {{ form.email(class='form-control', placeholder='Email Address') }}
        {{ form.username(class='form-control', placeholder='Username') }}
        {{ form.password(class='form-control', placeholder='Password') }}
        {{ form.submit(class='btn btn-primary btn-block') }}
    </form>
{% endmacro %}

{#{% macro loginForm(form) %}#}
{#    <form action="{{ url_for('auth.login') }}", method='POST'>#}
{#        {{ form.hidden_tag() }}#}
{#        {{ form.email() }}#}
{#        {{ form.password() }}#}
{#        {{ form.submit() }}#}
{#    </form>#}
{#{% endmacro %}#}